*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgba(178, 206, 219, 0.637);
   
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap:wrap;
    

    
}
.card {
    width: 390px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 2px 3px 10px;
}
.card img {
    width: 100%;
    height: auto;
}
.cardcontent {
    padding: 16px;
}
.cardcontent .word {
    font-weight:bolder;
    font-style:unset;
}
.cardcontent .btn {
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    background-color: rgb(144, 184, 218);
    border-radius: 8px;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
    
}